---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { email, linkedin, x } from "../data/info";
---

<Layout>
    <div class="max-w-6xl mx-auto px-4 py-8">
        <h1 class="text-center font-bold text-4xl mb-8">About</h1>

        <div class="grid md:grid-cols-2 gap-12 items-start">
            <div class="space-y-2">
                <h2 class="text-green-600 font-bold text-2xl">
                    <span class="waving-hand">👋</span> I'm David
                </h2>

                <p class="leading-relaxed">
                    Glad you found this part of the site. This is more in detail
                    about who I am than I'd bother going into for a CV.
                </p>

                <p class="leading-relaxed"></p>

                <h2 class="text-green-600 font-bold text-2xl mt-8">
                    What I Do
                </h2>

                <p class="leading-relaxed">
                    I build software, for myself or for people if you want to
                    contract me. You can find some of my projects <a
                        href="/projects"
                        class="underline text-blue-400">here.</a
                    >
                </p>

                <h2 class="text-green-600 font-bold text-2xl mt-8">
                    Reaching Out
                </h2>

                <p class="leading-relaxed">
                    You can reach out to me most preferably via my email, <a
                        href={`mailto:${email}`}
                        class="underline text-blue-400 inline"
                        >david@codebycruz.com</a
                    >. Additionally, I do have an account on <a
                        href={x}
                        class="underline text-blue-400 inline">𝕏</a
                    > and you can technically reach out via <a
                        href={linkedin}
                        class="underline text-blue-400 inline">LinkedIn.</a
                    >
                </p>
            </div>

            <div class="flex justify-center md:justify-end">
                <a
                    href={linkedin}
                    class="relative block transition duration-300 hover:scale-105"
                    aria-label="LinkedIn Profile"
                >
                    <img
                        src="/portrait-transparent.avif"
                        alt="Portrait"
                        class="w-80 h-80 object-cover bg-white object-bottom rounded-lg shadow-lg"
                    />
                    <div
                        class="absolute bottom-4 right-4 bg-blue-600 rounded-full p-3 shadow-lg hover:bg-blue-700 transition duration-300"
                    >
                        <Icon
                            name="mdi:linkedin"
                            size="24"
                            class="size-6 text-white"
                        />
                    </div>
                </a>
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-8 mt-12">
            <div class="flex-1">
                <h2 class="text-green-600 font-bold text-2xl">
                    What Is Your Icon?
                </h2>

                <p class="leading-relaxed mt-2">
                    I use a moon for my social media profiles - since I started
                    programming largely from the language "<a
                        href="https://www.lua.org"
                        class="underline text-blue-400 inline">Lua</a
                    >" which means moon. Plus, it's also really easy to make an
                    icon of.
                </p>
            </div>

            <div class="flex-1">
                <h2 class="text-green-600 font-bold text-2xl">
                    What Does Oncelock Mean?
                </h2>

                <p class="leading-relaxed mt-2">
                    A Oncelock is a synchronization primitive from <a
                        href="https://doc.rust-lang.org/std/sync/struct.OnceLock.html"
                        class="underline text-blue-400 inline">Rust</a
                    > and a play on an old username I still use for publishing some
                    of my work. I've found myself using the primitive quite often
                    in Rust.
                </p>
            </div>
        </div>

        <div class="mb-16"></div>
    </div>
</Layout>

<style>
    @keyframes wave {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(14deg);
        }
        20% {
            transform: rotate(-8deg);
        }
        30% {
            transform: rotate(14deg);
        }
        40% {
            transform: rotate(-4deg);
        }
        50% {
            transform: rotate(10deg);
        }
        60% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    .waving-hand {
        animation: wave 2s ease-in-out;
        transform-origin: 70% 70%;
        display: inline-block;
    }
</style>
