@import "tailwindcss";

@theme {
	--color-celadon-100: #0d3f20;
	--color-celadon-200: #1b7e41;
	--color-celadon-300: #28bd61;
	--color-celadon-400: #57db8a;
	--color-celadon-500: #94e8b4;
	--color-celadon-600: #abedc4;
	--color-celadon-700: #c0f2d3;
	--color-celadon-800: #d5f6e2;
	--color-celadon-900: #eafbf0;
	--color-celadon: #94e8b4;

	--color-cambridge_blue-100: #132921;
	--color-cambridge_blue-200: #275243;
	--color-cambridge_blue-300: #3a7b64;
	--color-cambridge_blue-400: #4da485;
	--color-cambridge_blue-500: #72bda3;
	--color-cambridge_blue-600: #8dc9b4;
	--color-cambridge_blue-700: #aad7c7;
	--color-cambridge_blue-800: #c6e4da;
	--color-cambridge_blue-900: #e3f2ec;
	--color-cambridge_blue: #72bda3;

	--color-sea_green-100: #131c13;
	--color-sea_green-200: #263827;
	--color-sea_green-300: #38543a;
	--color-sea_green-400: #4b714e;
	--color-sea_green-500: #5e8c61;
	--color-sea_green-600: #7ba77e;
	--color-sea_green-700: #9cbd9e;
	--color-sea_green-800: #bdd3be;
	--color-sea_green-900: #dee9df;
	--color-sea_green: #5e8c61;

	--color-feldgrau-100: #0f1310;
	--color-feldgrau-200: #1f2620;
	--color-feldgrau-300: #2e3a30;
	--color-feldgrau-400: #3e4d40;
	--color-feldgrau-500: #4e6151;
	--color-feldgrau-600: #6b866f;
	--color-feldgrau-700: #8fa592;
	--color-feldgrau-800: #b4c3b6;
	--color-feldgrau-900: #dae1db;
	--color-feldgrau: #4e6151;

	--color-van_dyke-100: #0c0a09;
	--color-van_dyke-200: #171411;
	--color-van_dyke-300: #231e1a;
	--color-van_dyke-400: #2f2823;
	--color-van_dyke-500: #3b322c;
	--color-van_dyke-600: #6a594e;
	--color-van_dyke-700: #978172;
	--color-van_dyke-800: #baaba1;
	--color-van_dyke-900: #dcd5d0;
	--color-van_dyke: #3b322c;
}
