---
import { Icon } from "astro-icon/components";

type LinkInfo = { to: string; label: string } & (
    | { text: string }
    | { icon: string }
);

const links = [
    { to: "https://x.com/codebycruz", text: "𝕏", label: "𝕏" },
    {
        to: "https://www.linkedin.com/in/codebycruz",
        icon: "mdi:linkedin",
        label: "LinkedIn",
    },
    {
        to: "https://github.com/DvvCz",
        icon: "mdi:github",
        label: "Github",
    },
    {
        to: "mailto:david@codebycruz.com",
        icon: "mdi:email",
        label: "Mail",
    },
] as LinkInfo[];
---

<footer class="px-4 py-8 bg-green-600 w-full">
    <div class="flex flex-row gap-2 items-center justify-center">
        {
            links.map((link) => (
                <a
                    class="text-3xl p-6 text-black/60 transition duration-300 hover:text-white"
                    href={link.to}
                    aria-label={link.label}
                >
                    {"icon" in link ? <Icon name={link.icon} /> : link.text}
                </a>
            ))
        }
    </div>
</footer>
