---
import Logo from "./Logo.astro";
import { Icon } from "astro-icon/components";

const links = [
    { name: "Projects", to: "/projects", icon: "mdi:flask" },
    { name: "Posts", to: "/posts", icon: "mdi:paper" },
];
---

<nav
    class="sticky top-0 bg-neutral-900/70 flex flex-row justify-center w-full px-2 lg:px-4 py-2 border-b border-b-white/50"
>
    <div class="lg:w-2/3 flex flex-row justify-between items-center">
        <Logo />

        <div class="flex flex-row md:gap-2">
            {
                links.map((link) => (
                    <a
                        href={link.disabled ? "" : link.to}
                        class={`${link.disabled ? "text-white/50" : "hover:bg-green-600"} px-6 py-4 text-lg bg-transparent transition duration-300`}
                    >
                        <span class="flex flex-row items-center gap-2 font-semibold">
                            {link.name}
                            <Icon class="inline size-4" name={link.icon} />
                        </span>
                    </a>
                ))
            }
        </div>
    </div>
</nav>
