---
import Layout from "../../layouts/Layout.astro";

export const name = "qun-rs";
export const order = 4;
export const desc =
    "An evolution of Qun, written in Rust with WGPU, with a focus on performance and advanced rendering techniques";
export const cover = "/qun-rs.avif";
export const tags = [
    "Rust",
    "Technical Writing",
    "ECS",
    "Game Engine",
    "WGPU",
    "GPU",
    "Realtime Rendering",
];
export const stealth = true;
export const status = "Ongoing";
---

<Layout>
    <div class="py-80 text-center">
        <p>
            This is one of my in-development projects, so it is not yet Open
            Sourced. It's also a part of my CSC 572 class, so I won't be
            publishing it until that's done.
        </p>
    </div>
</Layout>
