---
import Layout from "../../layouts/Layout.astro";

export const name = "story";
export const order = 3;
export const desc =
    "A production ready, scalable, easily deployable social media site from scratch using modern technology. An alternative to framework based competitors like Mastodon.";
export const cover = "/story.png";
export const coverStyle = "object-contain p-8";
export const tags = [
    "TypeScript",
    "Docker",
    "Microservices",
    "Observability",
    "Grafana",
    "Postgres",
    "Redis",
    "RabbitMQ",
    "Orchestration",
];
export const stealth = true;
export const status = "Ongoing";
---

<Layout>
    <div class="py-80 text-center">
        <h1 class="text-xl font-bold">Story</h1>

        <p>
            This is currently a stealth project with a lot of potential, hence I
            make no promises of Open Sourcing it.
        </p>

        <p>I'll write more about the project here later.</p>
    </div>
</Layout>
